@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
body {
  background-color: #eeeeee;
  margin-top: 83px;
}
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  // margin: 0 5px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
.loginBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loginSmallBox {
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

.logo {
  color: var(--black);
  // font-size: 5rem;
  font-weight: bolder;
  text-decoration: none;
}

.logo i {
  color: var(--green);
  font-size: 2.8rem;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 6%;
  padding-right: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
.nav-title {
  font-size: 3.5rem;
  margin-left: -0.5rem;
}

.navbar-new-search,
.navbar-fav,
.navbar-past-eats,
.navbar-past-searches {
  font-size: 2.3rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

header .navbar a {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

.nav-bar-background {
  color: #fff;
  background-color: var(--green);
}

header .logo {
  color: var(--black);
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}

header .logo i {
  color: var(--green);
}

.fa-power-off {
  color: var(--black);
  font-size: 3.5rem;
}

.top-section {
  height: 40rem;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: white;
}
.home-description-container {
  margin: 2rem 0 2rem 11rem;
}

#submitImageForm {
  margin-top: 1.5rem;
  margin-right: 25rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 1.7em;
}

.submit {
  background-color: var(--green);
}

#img-container {
  border: solid var(--light-color);
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

#scanner {
  position: relative;
  border: solid var(--light-color);
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  margin: 10px;
  background-color: transparent;
  // box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  display: none;
}

#scanner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  z-index: 3;
  animation: none;
  animation-name: green-shadow;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes green-shadow {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

#form-img {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

#address {
  background-color: var(--light-color);
  border-radius: 0.5rem;
  color: white;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.invis {
  opacity: 0;
  display: none;
}

.imageChooseLabel {
  background-color: #27ae60;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#loader-container img {
  width: 35rem;
}

#loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

.stars-outer {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  left: -10px;
}

.stars-inner {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  // left: -1px;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

.stars-outer::before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "FontAwesome";
  font-weight: 900;
  color: rgb(136, 136, 136);
}

.stars-inner::before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "FontAwesome";
  font-weight: 900;
  color: var(--green);
}

.fa-heart,
.fa-hamburger {
  font-size: 30px;
  color: rgb(136, 136, 136);
  background-color: white;
  padding: 0.5rem 0 0.5rem 0;
}

.fa-heart-btn,
.fa-past-eats-btn,
.fa-remove-btn {
  background-color: white;
}
.fa-trash {
  color: rgb(66, 66, 66);
  font-size: 30px;
  padding-right: 0.2rem;
}

.fa-heart-filled {
  color: rgb(250, 82, 110);
}

.fa-hamburger-filled {
  color: orange;
}

.fa-heart:hover,
.fa-hamburger:hover,
.fa-trash:hover {
  font-size: 30px;
  color: rgb(250, 82, 110);
}

.fa-hamburger:hover {
  color: orange;
}

.fa-trash:hover {
  color: rgb(22, 52, 97);
}

.fa-trash,
.fa-heart,
.fa-hamburger {
  position: relative;
  display: inline-block;
}

.fa-trash .remove-bubble,
.fa-heart .favourite-bubble,
.fa-hamburger .past-eats-bubble {
  font-size: 1.5rem;
  display: none;
  width: 100px;
  background-color: rgb(90, 90, 90);
  color: #fff;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;
  top: -4rem;
  margin-left: -38px;
  position: absolute;
  z-index: 1;
}

.fa-trash:hover .remove-bubble,
.fa-heart:hover .favourite-bubble,
.fa-hamburger:hover .past-eats-bubble {
  display: block;
}

.fa-trash .remove-bubble::after,
.fa-heart .favourite-bubble::after,
.fa-hamburger .past-eats-bubble::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(90, 90, 90) transparent transparent transparent;
}

.restaurant-image {
  margin-bottom: 0.5rem;
}

.restaurant-address {
  margin-bottom: 1rem;
  font-size: 12px;
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 3rem;
  padding: 5rem 10rem;
}

.restaurants .restaurant {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2.5rem;
}

.restaurants .restaurant .restaurant-image {
  margin: 0;
  height: 30rem;
  width: 100%;
  padding: 0 0 2.5rem 0;
  overflow: hidden;
  position: relative;
}

.restaurants .restaurant .restaurant-image img {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.change-img {
  object-fit: container;
}
.restaurants .restaurant .restaurant-name {
  padding-top: 0;
  color: var(--black);
  font-size: 2.7rem;
  font-weight: 900;
}

.restaurants .restaurant .restaurant-address {
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurant-rating {
  font-size: 2.5rem;
  color: var(--green);
  font-weight: 900;
  margin-left: -0.5rem;
}

.restaurants .restaurant .favourite-container,
.restaurants .restaurant .remove-container,
.restaurants .restaurant .past-eats-container {
  display: flex;
  justify-content: flex-end;
}

.restaurants .restaurant .restaurant-container {
  display: flex;
  justify-content: space-between;
}

.restaurants .restaurant .restaurant-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
